//     ___           ___                    ___           ___     
//     /  /\         /  /\       ___        /  /\         /  /\    
//    /  /::\       /  /:/      /__/\      /  /::\       /  /::|   
//   /  /:/\:\     /  /:/       \__\:\    /  /:/\:\     /  /:|:|   
//  /  /::\ \:\   /  /:/        /  /::\  /  /:/  \:\   /  /:/|:|__ 
// /__/:/\:\_\:\ /__/:/      __/  /:/\/ /__/:/_\_ \:\ /__/:/ |:| /\
// \__\/  \:\/:/ \  \:\     /__/\/:/~~  \  \:\__/\_\/ \__\/  |:|/:/
//      \__\::/   \  \:\    \  \::/      \  \:\ \:\       |  |:/:/ 
//      /  /:/     \  \:\    \  \:\       \  \:\/:/       |__|::/  
//     /__/:/       \  \:\    \__\/        \  \::/        /__/:/   
//     \__\/         \__\/                  \__\/         \__\/    

.align {
  // Align Items
  //
  // Aligns grid items along the block (column) axis (as opposed to 
  // justify-items which aligns along the inline (row) axis). This 
  // value applies to all grid items inside the container.
  @if ($config-align-items) {
    &-items {
      @each $align in $align-items {
        &--#{$align} {
          align-items: $align;
        }
      }
    }
  }
  // Align Content
  //
  // This property aligns the grid along the block (column) axis (as opposed 
  // to justify-content which aligns the grid along the inline (row) axis).
  &-content {
    @each $align in $align-contents {
      &--#{$align} {
        align-content: $align;
      }
    }
  }
  
  // Align Self
  //
  // Aligns a grid item inside a cell along the block (column) axis (as opposed
  // to justify-self which aligns along the inline (row) axis). This value 
  // applies to the content inside a single grid item.
  &-self {
    @each $align in $align-selfs {
      &--#{$align} {
        align-self: $align;
      }
    }
  }
}
