.border {
  &-collapse {
    @each $border in $border-collapses {
      &--#{$border} {
        border-collapse: $border;
      }
    }
  }
  &-radius {
    @each $border in $radius {
      &--#{$border} {
        border-radius: #{$border}px;
      }
    }
  }
  // SIDES FOR RADIUSES
  @each $side in $sides {
    &-#{$side} {
      @each $radius in $radius {
        &-radius-#{$radius} {
          border-#{$side}-radius: #{$radius}px;
        } 
      }
    }
  }
  &-color {
    @each $number, $color in $colors {
      &--#{$number} {
        border-color: $color;
      }
    }
  }
}