//      ___           ___           ___           ___                       ___     
//     /\__\         /\  \         /\  \         /\__\                     /\__\    
//    /:/  /        /::\  \        \:\  \       /:/ _/_       ___         /:/ _/_   
//   /:/  /        /:/\:\  \        \:\  \     /:/ /\__\     /\__\       /:/ /\  \  
//  /:/  /  ___   /:/  \:\  \   _____\:\  \   /:/ /:/  /    /:/__/      /:/ /::\  \ 
// /:/__/  /\__\ /:/__/ \:\__\ /::::::::\__\ /:/_/:/  /    /::\  \     /:/__\/\:\__\
// \:\  \ /:/  / \:\  \ /:/  / \:\~~\~~\/__/ \:\/:/  /     \/\:\  \__  \:\  \ /:/  /
//  \:\  /:/  /   \:\  /:/  /   \:\  \        \::/__/       ~~\:\/\__\  \:\  /:/  / 
//   \:\/:/  /     \:\/:/  /     \:\  \        \:\  \          \::/  /   \:\/:/  /  
//    \::/  /       \::/  /       \:\__\        \:\__\         /:/  /     \::/  /   
//     \/__/         \/__/         \/__/         \/__/         \/__/       \/__/    
//
//
// UTILITARIAN CSS FRAMEWORK CONFIGURATION FILE
//
// Here you can activate every single aspect of your CSS. From margins to other functions
// without having to comment code on your file. Just "true" everything you need. Beware
// if you activate all, the CSS size will increase.


$config-align-items:                 false;
$config-align-content:               false;
$config-align-self:                  false;

$config-background-attachment:       false;
$config-background-blend-mode:       false;
$config-background-color:            false;
$config-background-clip:             false;
$config-background-origin:           false;
$config-background-repeat:           false;
$config-background-size:             false;

$config-border:                      false;
$config-border-sides:                false;    // only sides ex. border-left--0
$config-border-collapse:             false;
$config-border-color:                false;
$config-border-radius:               false;
$config-border-sides-radius:         false;    // only sides ex. border-top-radius--0
$config-border-style:                false;
$config-border-width:                false;

$config-box-decoration-break:        false;
$config-box-size:                    false;

$config-margin:                      false;    // all sides margins ex. margin--0
$config-margin-side:                 false;    // only sides ex. margin-top--0