// ▓█████▄  ██▓  ██████  ██▓███   ██▓    ▄▄▄     ▓██   ██▓
// ▒██▀ ██▌▓██▒▒██    ▒ ▓██░  ██▒▓██▒   ▒████▄    ▒██  ██▒
// ░██   █▌▒██▒░ ▓██▄   ▓██░ ██▓▒▒██░   ▒██  ▀█▄   ▒██ ██░
// ░▓█▄   ▌░██░  ▒   ██▒▒██▄█▓▒ ▒▒██░   ░██▄▄▄▄██  ░ ▐██▓░
// ░▒████▓ ░██░▒██████▒▒▒██▒ ░  ░░██████▒▓█   ▓██▒ ░ ██▒▓░
//  ▒▒▓  ▒ ░▓  ▒ ▒▓▒ ▒ ░▒▓▒░ ░  ░░ ▒░▓  ░▒▒   ▓▒█░  ██▒▒▒ 
//  ░ ▒  ▒  ▒ ░░ ░▒  ░ ░░▒ ░     ░ ░ ▒  ░ ▒   ▒▒ ░▓██ ░▒░ 
//  ░ ░  ░  ▒ ░░  ░  ░  ░░         ░ ░    ░   ▒   ▒ ▒ ░░  
//    ░     ░        ░               ░  ░     ░  ░░ ░     
//  ░                                             ░ ░     
//   █████▒██▓    ▓█████ ▒██   ██▒                        
// ▓██   ▒▓██▒    ▓█   ▀ ▒▒ █ █ ▒░                        
// ▒████ ░▒██░    ▒███   ░░  █   ░                        
// ░▓█▒  ░▒██░    ▒▓█  ▄  ░ █ █ ▒                         
// ░▒█░   ░██████▒░▒████▒▒██▒ ▒██▒                        
//  ▒ ░   ░ ▒░▓  ░░░ ▒░ ░▒▒ ░ ░▓ ░                        
//  ░     ░ ░ ▒  ░ ░ ░  ░░░   ░▒ ░                        
//  ░ ░     ░ ░      ░    ░    ░                          
//            ░  ░   ░  ░ ░    ░                                               


.flex {
  @if ($config-flex-direction) {
    &-direction {
      @each $direction in $flex-directions {
        &--#{$direction} {
          flex-direction: $direction;
        }
      }
    }
  }
  @if ($config-flex-wrap) {
    &-wrap {
      @each $wrap in $wraps {
        &--#{$wrap} {
          flex-wrap: $wrap;
        }
      }
    }
  }
  @if ($config-flex-grow) {
    &-grow {
      @each $grow in $grows {
        &--#{$grow} {
          flex-grow: $grow;
        }
      }
    }
  }
}
