.font {
  @if ($config-font-size) {
    &-size {
      @each $size in $font-sizes {
        &--#{$size} {
          font-size: #{$size}px;
        }
      }
    }
  }
  @if ($config-font-style) {
    @each $style in $styles {
      &-style--#{$style} {
        font-style: $style;
      }
    }
  }
  @if ($config-font-weight) {
    @each $weight in $weights {
      &-weight--#{$weight} {
        font-weight: $weight;
      }
    }
  }
}
