.font {
  &-size {
    @each $size in $font-sizes {
      &--#{$size} {
        font-size: #{$size}px;
      }
    }
  }
  @each $style in $styles {
    &-style--#{$style} {
      font-style: $style;
    }
  }
  @each $weight in $weights {
    &-weight--#{$weight} {
      font-weight: $weight;
    }
  }
}
