.overflow {
  @if ($config-overflow) {
    @each $overflow in $overflows {
      &--#{$overflow} {
        overflow: $overflow
      }
    }
  }
  @if ($config-overflow-x) {
    &-x {
      @each $overflow in $overflows {
        &--#{$overflow} {
          overflow-x: $overflow
        }
      }
    }
  }
  @if ($config-overflow-y) {
    &-y {
      @each $overflow in $overflows {
        &--#{$overflow} {
          overflow-y: $overflow
        }
      }
    }
  }
}
