.scroll {
  @if ($config-scroll-behavior) {
    @each $behavior in $scroll-behaviors {
      &-behavior {
        &--#{$behavior} {
          scroll-behavior: $behavior
        }
      }
    }
  }
  &-padding {
    @if ($config-scroll-padding) {
      @each $scale in $padding-scales {
        &--#{$scale} {
          scroll-padding: #{$scale}px
        }
      }
    }
      // scroll padding side
    @if ($config-scroll-padding-sides) {
      @each $side in $sides {
        &-#{$side} {
          @each $scale in $padding-scales {
            &--#{$scale} {
              scroll-padding-#{$side}: #{$scale}px
            }
          }
        }
      }
    }
    @if ($config-scroll-padding-inline) {
      &-inline {
         @each $key, $value in $scroll-padding-inlines {
          &--#{$key} {
            scroll-padding-inline: $value
          }
         }
      }
    }
    @if ($config-scroll-padding-inline-start) {
      &-inline-start {
         @each $key, $value in $scroll-padding-inline-start-ends {
          &--#{$key} {
            scroll-padding-inline-start: $value
          }
         }
      }
    }
  }
  @if ($config-scroll-snap-stop) {
    @each $stop in $scroll-snap-stops {
      &-snap-stop {
        &--#{$stop} {
          scroll-snap-stop: $stop
        }
      }
    }
  }
  @if ($config-scroll-snap-type) {
    @each $type in $scroll-snap-types {
      &-snap-type {
        &--#{$type} {
          scroll-snap-type: $type
        }
      }
    }
  }
}