.text {
  // align module
  @if ($config-text-align) {
    @each $text-align in $text-aligns {
      &-align--#{$text-align} {
        text-align: $text-align;
      }
    }
  }
  // text overflow
  @if ($config-text-overflow) {
    @each $text-overflow in $text-overflows {
      &-overflow--#{$text-overflow} {
        text-overflow: $text-overflow;
      }
    }
  }
  // text transform
  @if ($config-text-transform) {
    @each $text-transform in $text-transforms {
      &-transform--#{$text-transform} {
        text-transform: $text-transform;
      }
    }
  }
}