.text {
  // align module
  @if ($config-text-align) {
    @each $text-align in $text-aligns {
      &-align--#{$text-align} {
        text-align: $text-align
      }
    }
  }
  // align last module
  @if ($config-text-align-last) {
    @each $text-align in $text-align-lasts {
      &-align-last--#{$text-align} {
        text-align-last: $text-align
      }
    }
  }
  // text decoration
  &-decoration {
    @if ($config-text-decoration-color) {
      &-color {
        @each $number, $color in $colors {
          &--#{$number} {
            text-decoration-color: $color
          }
        }
      }
    }
    @if ($config-text-decoration-line) {
      &-line {
        @each $line in $text-decoration-lines {
          &--#{$line} {
            text-decoration-line: $line
          }
        }
      }
    }
    @if ($config-text-decoration-style) {
      &-style {
        @each $style in $text-decoration-styles {
          &--#{$style} {
            text-decoration-style: $style
          }
        }
      }
    }
  }
  // text indent
  @if ($config-text-indent) {
    @each $key, $text-indent in $text-indents {
      &-indent--#{$key} {
        text-indent: $text-indent
      }
    }
  }
  // text justify *This feature is behind the Enable Experimental Web Platform Features preference
  @if ($config-text-justify) {
    @each $text-justify in $text-justifies {
      &-justify--#{$text-justify} {
        text-justify: $text-justify
      }
    }
  }
  // text overflow
  @if ($config-text-overflow) {
    @each $text-overflow in $text-overflows {
      &-overflow--#{$text-overflow} {
        text-overflow: $text-overflow
      }
    }
  }
  // text transform
  @if ($config-text-transform) {
    @each $text-transform in $text-transforms {
      &-transform--#{$text-transform} {
        text-transform: $text-transform
      }
    }
  }
}