.text {
  // align module
  @each $text-align in $text-aligns {
    &-align--#{$text-align} {
      text-align: $text-align;
    }
  }
  // text overflow
  @each $text-overflow in $text-overflows {
    &-overflow--#{$text-overflow} {
      text-overflow: $text-overflow;
    }
  }
  // text transform
  @each $text-transform in $text-transforms {
    &-transform--#{$text-transform} {
      text-transform: $text-transform;
    }
  }
}