.text {
  // align module
  @each $text-align in $text-aligns {
    &__align--#{$text-align} {
      text-align: $text-align;
    }
  }
  // text overflow
  @each $text-overflow in $text-overflows {
    &__overflow--#{$text-overflow} {
      text-overflow: $text-overflow;
    }
  }
  // text transform
  @each $text-transform in $text-transforms {
    &__transform--#{$text-transform} {
      text-transform: $text-transform;
    }
  }
}