$font-family-serif:     Times New Roman;
$font-family-sans:      -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-family-mono:      ".SFMono-Semibold", San Francisco Mono, Roboto Mono, Arial, sans-serif;

$font-sizes: (
  12,
  16,
  18,
  28,
  48
  );

$columns: 2;

// RESPONSIVE

$device-sm:        320px;
$device-md:        768px;
$device-lg:        960px;
$device-xl:        1280px;

$sides: (
  top,
  bottom,
  left,
  right
  );

$list-styles: (
  none
);

$orders: (
  1,
  2,
  3,
  4,
  5
  );

$colors: (
  1: #111,
  2: #666,
  3: #ffd,
  4: #FF6,
  5: #ccf6f6,
  6: #ffffc9
  );

$opacities: (
  0: 0,
  1: 0.1,
  2: 0.2,
  3: 0.3,
  4: 0.4,
  5: 0.5,
  6: 0.6,
  7: 0.7,
  8: 0.8,
  9: 0.9,
  10: 1
  );

$background-attachments: (
  scroll,
  fixed,
  local
);

$blend-modes: (
  normal,
  multiply,
  screen,
  overlay,
  darken,
  lighten,
  color-dodge,
  saturation,
  color,
  luminosity
);

$background-clips: (
  border-box,
  padding-box,
  content-box
);

$background-origins: (
  padding-box,
  border-box,
  content-box
);

$background-repeats: (
  repeat,
  repeat-x,
  repeat-y,
  no-repeat
);

$background-sizes: (
  auto,
  cover,
  contain
);

$radius: (
  0,
  2
  );

$borders: (
  none,
  solid
  // hidden,
  // dotted,
  // dashed,
  // double,
  // groove,
  // ridge,
  // inset,
  // outset,
  // initial,
  // inherit
  );

$border-widths: (
  0,
  1,
  2
  );

$box-decorations: (
  slice,
  clone
);

$box-sizings: (
  content-box,
  border-box
);

// PROPERTIES

$border-collapses: (
  collapse
  // separate
  );

$column-fills: (
  balance,
  auto
  );

$column-rule-styles: (
  none,
  solid,
  dotted,
  hidden
  // dashed,
  // double,
  // groove,
  // ridge,
  // inset,
  // outset,
  // initial
  );

$displays: (
  none,
  block,
  inline,
  inline-block,
  flex,
  grid
  );

$fill-rules: (
  nonzero,
  evenodd
);

$line-heights: (
  16,
  24,
  32,
  40,
  64
  );

$pointer-events: (
  none,
  auto
  );

$positions: (
  sticky
  // absolute,
  // relative,
  // static,
  // relative,
  // fixed
  );

$resizes: (
  vertical,
  horizontal,
  both,
  none
  );

$object-fits: (
  none,
  fill,
  contain,
  cover,
  scale-down
  );

$outline-styles: (
  hidden
  // dotted,
  // dashed,
  // solid,
  // double,
  // groove,
  // ridge,
  // inset,
  // outset
  );


$overflows: (
  scroll,
  hidden,
  auto,
  visible
  );

$styles: (
  italic,
  normal
  );

$scroll-behaviors: (
  smooth
  );


$table-layouts: (
  fixed,
  auto
  );

$text-aligns: (
  left
  // center,
  // right,
  // justify
  );

$text-justifies: (
  inter-word
  // inter-character,
  // none
  );

$text-overflows: (
  clip,
  ellipsis
  );

$text-transforms: (
  capitalize,
  uppercase,
  lowercase,
  none
  );

$vertical-aligns: (
  middle,
  top,
  text-top,
  bottom,
  text-bottom,
  sub,
  super,
  baseline
  );

$visibilities: (
  visible,
  hidden,
  collapse
  );

$weights: (
  normal
  // bold,
  // bolder,
  // lighter
  );

$white-spaces: (
  nowrap
  // pre,
  // normal
  );

$word-wraps: (
  break-word,
  normal
  );

$word-breaks: (
  break-all,
  keep-all,
  break-word,
  normal
  );

$unicode-bidis: (
  embed,
  bidi-override,
  normal
  );

$user-selects: (
  none,
  text,
  all
  );

// Pattern scales
//
// For designs that use patterns, this one is friendly with Android
// PC and Macs screens

$scales: (
  0,
  4,
  8,
  16,
  24,
  32
  );

// GRID

$flows: (
  row,
  column
);

$writing-modes: (
  horizontal-tb,
  vertical-rl,
  vertical-lr
);

// FLEXBOX

$directions: (
  row,
  row-reverse,
  column,
  column-reverse
  );

$wraps: (
  nowrap,
  wrap,
  wrap-reverse
  );

$grows: (
  1,
  2,
  3,
  4
  );

$justify-contents: (
  center,
  end,
  flex-end,
  flex-start,
  space-around,
  space-between,
  space-evenly,
  start,
  stretch,
  );

$justify-selfs: (
  start,
  end,
  center,
  stretch
);

$justify-items: (
  start,
  end,
  center,
  stretch
  );

$align-items: (
  flex-start,
  flex-end,
  center,
  stretch,
  baseline
  );

$align-contents: (
  center,
  end,
  flex-end,
  flex-start,
  space-around,
  space-between,
  start,
  stretch
  ); 

$align-selfs: (
  auto,
  flex-start,
  flex-end,
  center,
  stretch,
  baseline
  );
