$font-family-serif:     Times New Roman;
$font-family-sans:      -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-family-mono:      ".SFMono-Semibold", San Francisco Mono, Roboto Mono, Arial, sans-serif;

$align-items: (
  flex-start,
  // flex-end,
  center
  // stretch,
  // baseline
  );

$align-contents: (
  center,
  end,
  flex-end,
  flex-start,
  space-around,
  space-between,
  start,
  stretch
  ); 

$align-selfs: (
  stretch
  // auto,
  // flex-start,
  // flex-end,
  // center,
  // baseline
  );

$font-families: (
  // serif: $font-family-serif,
  sans: $font-family-sans,
  // mono: $font-family-mono
  );

$font-sizes: (
  10: 10px,
  14: 14px,
  16: 16px
  );

$columns: 2;

// RESPONSIVE

$device-sm:        320px;
$device-md:        768px;
$device-lg:        960px;
$device-xl:        1280px;

$clears: (
  left,
  right,
  both,
  none
  );

$backface-visibilities: (
  visible,
  hidden
  );

$caption-sides: (
  top,
  bottom
  );

$directions: (
  ltr,
  rtl
  );

$cursors: (
  // none,
  pointer,
  // alias,
  // all-scroll,
  // auto,
  // cell,
  // context-menu,
  // col-resize,
  // copy,
  // crosshair,
  default,
  // e-resize,
  // ew-resize,
  // grab,
  // grabbing,
  help,
  // move,
  // n-resize,
  // ne-resize,
  // nswe-resize,
  // ns-resize,
  // nesw-resize,
  // sw-resize,
  // s-resize,
  // no-drop,
  // not-allowed,
  // text,
  // vertical-text,
  // w-resize,
  // wait,
  // zoom-in,
  // zoom-out
  );

$sides: (
  top,
  bottom,
  left,
  right
  );

$list-styles: (
  none,
  // decimal,
  // disc,
  // square
);

$empty-cells: (
  show,
  hide
);

$floats: (
  left,
  right,
  // center,
  none
  );

$orders: (
  1,
  2,
  3,
  4,
  5
  );

$colors: (
  1: #ffd,
  2: #ff6,
  3: #ffffc9,
  4: #ccf6f6,
  5: #000,
  6: #999
  );

$opacities: (
  0: 0,
  1: 0.1,
  2: 0.2,
  3: 0.3,
  4: 0.4,
  5: 0.5,
  6: 0.6,
  7: 0.7,
  8: 0.8,
  9: 0.9,
  10: 1
  );

$background-attachments: (
  scroll,
  fixed,
  local
);

$blend-modes: (
  normal,
  multiply,
  screen,
  overlay,
  darken,
  lighten,
  color-dodge,
  saturation,
  color,
  luminosity
);

$background-clips: (
  border-box,
  padding-box,
  content-box
);

$background-origins: (
  padding-box,
  border-box,
  content-box
);

$background-repeats: (
  repeat,
  repeat-x,
  repeat-y,
  no-repeat
);

$background-sizes: (
  auto,
  cover,
  contain
);

$radius: (
  0,
  2,
  5,
  8,
  18,
  20,
  22,
  25,
  32,
  512
  );

$borders: (
  none,
  solid
  // hidden,
  // dotted,
  // dashed,
  // double,
  // groove,
  // ridge,
  // inset,
  // outset,
  // initial,
  // inherit
  );

$border-widths: (
  0,
  1,
  );

$text-decoration-lines: (
  none,
  underline,
  // overline,
  // line-through,
  // initial,
  // inherit,
);

$text-decoration-styles: (
  solid,
  double,
  dotted,
  dashed,
  wavy,
  initial,
  inherit,
);

$box-decorations: (
  slice,
  clone
);

$box-sizings: (
  content-box,
  border-box
);

// PROPERTIES

$border-collapses: (
  collapse
  // separate
  );

$column-fills: (
  balance,
  auto
  );

$column-rule-styles: (
  none,
  solid,
  dotted,
  hidden
  // dashed,
  // double,
  // groove,
  // ridge,
  // inset,
  // outset,
  // initial
  );

$displays: (
  // none,
  block,
  // inline,
  // inline-block,
  // flex,
  grid
  );

$fill-rules: (
  nonzero,
  evenodd
);

$line-heights: (
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  28,
  30,
  32,
  35,
  36,
  37,
  38,
  42,
  44,
  50,
  54,
  55,
  56,
  60
  );

$pointer-events: (
  none,
  // auto
  );

$positions: (
  // sticky,
  absolute,
  relative,
  static,
  fixed,
  initial,
  inherit
  );

$resizes: (
  vertical,
  horizontal,
  both,
  none
  );

$object-fits: (
  none,
  fill,
  contain,
  cover,
  scale-down
  );

$outline-styles: (
  hidden
  // dotted,
  // dashed,
  // solid,
  // double,
  // groove,
  // ridge,
  // inset,
  // outset
  );


$overflows: (
  // scroll,
  hidden,
  auto,
  visible
  );

$font-kernings: (
  normal,
  none
  );

$font-styles: (
  // italic,
  normal
  );

$scroll-behaviors: (
  smooth
  );


$table-layouts: (
  fixed,
  auto
  );

$text-aligns: (
  // left,
  center,
  // right,
  // justify
  );

$text-justifies: (
  inter-word
  // inter-character,
  // none
  );

$text-overflows: (
  // clip,
  ellipsis
  );

$text-transforms: (
  capitalize
  // uppercase,
  // lowercase,
  // none
  );

$vertical-aligns: (
  middle,
  top,
  text-top,
  bottom,
  text-bottom,
  sub,
  super,
  baseline
  );

$visibilities: (
  visible,
  hidden,
  collapse
  );

$font-weights: (
  // 200,
  // 400,
  // 800,
  // normal,
  bold,
  // bolder,
  // lighter
  );

$white-spaces: (
  pre-line,
  // nowrap,
  // pre,
  // normal
  );

$word-wraps: (
  break-word,
  normal
  );

$word-breaks: (
  break-all,
  keep-all,
  break-word,
  normal
  );

$unicode-bidis: (
  embed,
  bidi-override,
  normal
  );

$user-selects: (
  none,
  text,
  all
  );

// Pattern scales
//
// For designs that use patterns, this one is friendly with Android
// PC and Macs screens

$scales: (
  0,
  16,
  32
  );

$margin-scales: (
  0,
  // 8
  );

$max-widths: (
  // 50: 50%,
  75: 75%,
  // 100: 100%
  );

$padding-scales: (
  0,
  8,
  16,
  32,
  );

// GRID

$flows: (
  row,
  column
);

$writing-modes: (
  horizontal-tb,
  vertical-rl,
  vertical-lr
);

// FLEXBOX

$flex-directions: (
  row,
  // row-reverse,
  column,
  // column-reverse
  );

$wraps: (
  nowrap,
  wrap,
  wrap-reverse
  );

$grows: (
  1,
  2,
  3,
  4
  );

$justify-contents: (
  center,
  // end,
  flex-end,
  // flex-start,
  // space-around,
  space-between,
  // space-evenly,
  // start,
  // stretch,
  );

$justify-selfs: (
  start,
  end,
  center,
  stretch
);

$justify-items: (
  start,
  end,
  center,
  stretch
  );

$widths: (
  100: 100%,
  auto: auto
  );