//
//
//  ███▄ ▄███▓ ██▓ ███▄    █  ██▓▓█████▄ ▓█████ 
// ▓██▒▀█▀ ██▒▓██▒ ██ ▀█   █ ▓██▒▒██▀ ██▌▓█   ▀ 
// ▓██    ▓██░▒██▒▓██  ▀█ ██▒▒██▒░██   █▌▒███   
// ▒██    ▒██ ░██░▓██▒  ▐▌██▒░██░░▓█▄   ▌▒▓█  ▄ 
// ▒██▒   ░██▒░██░▒██░   ▓██░░██░░▒████▓ ░▒████▒
// ░ ▒░   ░  ░░▓  ░ ▒░   ▒ ▒ ░▓   ▒▒▓  ▒ ░░ ▒░ ░
// ░  ░      ░ ▒ ░░ ░░   ░ ▒░ ▒ ░ ░ ▒  ▒  ░ ░  ░
// ░      ░    ▒ ░   ░   ░ ░  ▒ ░ ░ ░  ░    ░   
//        ░    ░           ░  ░     ░       ░  ░
//                                ░             
// 2018
//

//
// COMMENT / UNCOMMENT ALL THAT YOU NEED IN EVERY FILE.
// DON'T FORGET TO CHECK VARS AND COMMENT OR DELETE THOSE VALUES YOU WILL USE
// CHECK https://github.com/meerita/utilcss FOR DOCUMENTATION

@import 'modules/vars';

//
// MODULES
// 

// @import 'modules/align';
// @import 'modules/border';
// @import 'modules/column';
// @import 'modules/display';
// @import 'modules/flex';
// @import 'modules/font';
// @import 'modules/grid';
// @import 'modules/justify';
// @import 'modules/normalizer';
// @import 'modules/object-fit';
// @import 'modules/overflow';
// @import 'modules/pointer-event';
// @import 'modules/position';
// @import 'modules/text';
// @import 'modules/vertical-align';
// @import 'modules/visibility';
// @import 'modules/white-space';
// @import 'modules/word-wrap';

body {
  font-family: $font-family-sans;
}

.width--100 {
  width: 100%;
}

.padding--4 {
  padding: 4px;
}

.color {
  @each $number, $color in $colors {
    &--#{$number} {
      color: $color;
    }
  }
}


.border--1 {
  border: 1px solid red;
}
.border--2 {
  border: 1px solid blue;
}
